﻿@model ContosoSite.Models.enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
